apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  type: NodePort
  selector:
    io.kompose.service: frontend
  ports:
    - port: 8501
      targetPort: 8501
      nodePort: 30501 