apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: frontend
  template:
    metadata:
      labels:
        io.kompose.service: frontend
    spec:
      containers:
        - name: streamlit
          image: ghcr.io/tti440/trip-agent/trip-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8501