apiVersion: v1
kind: Service
metadata:
  name: redpanda
spec:
  ports:
    - name: "9092"
      port: 9092
      targetPort: 9092
    - name: "8081"
      port: 8081
      targetPort: 8081
    - name: "8082"
      port: 8082
      targetPort: 8082 
  selector:
    io.kompose.service: redpanda