name: Docker Image CI/CD

on:
  push:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME_BASE: ${{ github.repository }}-base
  IMAGE_NAME_FRONTEND: ${{ github.repository }}-frontend
  IMAGE_NAME_BACKEND: ${{ github.repository }}-backend
  IMAGE_NAME_APP: ${{ github.repository }}-app
  IMAGE_NAME_SPARK: ${{ github.repository }}-spark
  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Log in to the Container registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push Backend
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/base.Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}/myproject/base:latest
        
    - name: Build and push Backend
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/frontend.Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}/trip-frontend:latest
        
    - name: Build and push Backend
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/spark.Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}/trip-spark:latest
        
    - name: Build and push Backend
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/backend.Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}/trip-backend:latest

    - name: Build and push App
      uses: docker/build-push-action@v5
      with:
        context: .
        file: docker/app.Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/${{ github.repository }}/trip-app:latest
